build/
install/
log/

__pycache__/
*.pyc

*.pt
*.pth
*.onnx

*.zip

*vosk-model*

build/
install/
log/

models/

*.pyc
__pycache__/
.vscode/
.idea/

YOLOv11/

# Ignore YOLOV11 folder inside the kuka_ros2_demo package
/src/kuka_ros2_demo/data/YOLOV11/
/src/kuka_ros2_demo/data/yolov11/
